

<%- include('../../partials/head')%>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <%- include("../../partials/sideNav")%>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card card-body my-5">
                        <h1>Change You Password</h1>
                         <form action="/auth/change-password" method="POST">
                            <label for="oldPassword">Old Password</label>
                            <input type="password" class="form-control my-3" placeholder="Enter your Old password" name="oldPassword">

                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control my-3" placeholder="Enter your Old password" name="newPassword">

                            <label for="confrimPassword">Confirm Password</label>
                            <input type="password" class="form-control my-3" placeholder="Enter your Old password" name="confirmPassword">

                            <input type="submit" value="Update Password" class="btn btn-primary">
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->



<br>
<%- include('../../partials/footer')%>



</body>
</html>