<%- include("../../partials/head.ejs")%>

<div class=" bg-dark text-white container my-container my-5">
    <h1 class="text-center display-4">404 Not Found</h1>
</div>


<%- include("../../partials/footer.ejs")%>

</body>
</html>